include readme.rst
include sphinxcontrib_images_lightbox2/lightbox2/dist/images/close.png
include sphinxcontrib_images_lightbox2/lightbox2/dist/images/loading.gif
include sphinxcontrib_images_lightbox2/lightbox2/dist/images/next.png
include sphinxcontrib_images_lightbox2/lightbox2/dist/images/prev.png
include sphinxcontrib_images_lightbox2/lightbox2/dist/js/lightbox-plus-jquery.min.js
include sphinxcontrib_images_lightbox2/lightbox2/dist/js/lightbox-plus-jquery.min.map
include sphinxcontrib_images_lightbox2/lightbox2/dist/css/lightbox.css
include sphinxcontrib_images_lightbox2/lightbox2-customize/jquery-noconflict.js
include sphinxcontrib_images_lightbox2/lightbox2-customize/pointer.css
